* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-family: 'Exo 2', sans-serif;
  /* border: 1px solid red; */
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-site-container {
  max-width: 1200px;
}

body {
  padding: 1rem;
}

header,
section,
footer {
  padding: 2rem;
  margin-bottom: 2rem;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

i {
  float: right;
  font-size: 2rem;
  margin-left: 1rem;
}

.hero-subtitle {
  font-size: 3rem;
  font-style: italic;
}

span {
  color: #ed7014;
}

img {
  float: right;
  margin: 1rem 0 1rem 2rem;
  max-width: 300px;
  border-radius: 6px;
}

ul,
ol {
  margin: 0.4rem 0 0.4rem 2rem;
}

p {
  margin: 0.4rem 0;
  max-width: 80ch;
}

#projects {
  background-color: #e8e2de;
  border-radius: 6px;
}

.project-card {
  border: 2px solid #ed7014;
  margin: 1rem;
  padding: 1rem;
  max-width: 400px;
  border-radius: 6px;
}

@media (max-width: 600px) {
  img,
  i {
    float: none;
    margin: 1rem;
    font-size: 1.4rem;
  }
}
