* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-family: 'JetBrains Mono', monospace;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.full-site-container {
  max-width: 1200px;
}

body {
  padding: 1rem;
  background-color: #f4f1ee;
}

header,
section,
footer {
  padding: 2rem;
  margin-bottom: 2rem;
}

footer {
  font-size: 0.8rem;
}

h1,
h2,
h3,
span {
  text-transform: uppercase;
  font-family: 'Exo 2', sans-serif;
}

span {
  color: #ed7014;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

ul,
ol {
  margin: 0.4rem 0 0.4rem 2rem;
}

p {
  margin: 0.4rem 0;
  max-width: 80ch;
}

a {
  display: block;
  margin-bottom: 0.4rem;
  text-decoration: none;
  color: #ed7014;
}

a:hover {
  cursor: pointer;
  color: #b2510c;
}

a:focus {
  color: #5d2b06;
}

#projects {
  background-color: #e8e2de;
  border-radius: 6px;
}

#about-me {
  border-bottom: 2px solid #ed7014;
}

.hero-subtitle {
  font-size: 3rem;
  font-style: italic;
}

.section-subtitle {
  margin-top: 2rem;
}

.icon--hero {
  float: right;
  font-size: 2rem;
  margin-left: 1rem;
}

.icon--small {
  float: none;
  font-size: 1rem;
}

.image-container {
  position: relative;
  float: right;
  margin: 1rem 0 1rem 2rem;
  max-width: 300px;
  max-height: 300px;
  border-radius: 6px;
}

.profile-photo {
  max-width: 100%;
  border-radius: 6px;
}

.project-card {
  border: 2px solid #ed7014;
  margin: 1rem;
  padding: 1rem;
  max-width: 350px;
  height: 350px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .accent-swatch {
    display: none;
  }
  .image-container,
  .icon--hero {
    float: none;
    margin: 0.8rem;
    font-size: 1.2rem;
  }
  h1 {
    font-size: 5rem;
  }
}

@media (min-width: 600px) {
  .profile-photo {
    position: relative;
    z-index: 2;
  }

  .accent-swatch {
    position: absolute;
    width: 300px;
    height: 300px;
    bottom: 12px;
    left: 12px;
    background-color: #ed7014;
    border-radius: 6px;
  }
}
